name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: maa-express-478209
  REGION: australia-southeast1
  SERVICE: maaexpress-backend
  IMAGE: gcr.io/maa-express-478209/maaexpress-backend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Build & Push Docker image
        run: |
          gcloud builds submit --tag $IMAGE

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --image $IMAGE \
            --platform managed \
            --region $REGION \
            --allow-unauthenticated
